.container-event {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0px solid #ccc;
    /* font-family: 'Courier New', Courier, monospace; */
    /* background-color: red; */

}

.row-event {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* background-color: rgb(184, 200, 202); */
    align-items: flex-start;

}

.row-event:first-child .item-event:first-child {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 70%;
    box-sizing: border-box;
    /* border-radius: 10px; */
}

.row-event:first-child .item-event:last-child {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
    box-sizing: border-box;

}

.row-event:last-child .item-event {
    flex: 1;
    box-sizing: border-box;
    height: auto;
}

.row-event:nth-child(2) {
    display: flex;
    flex-wrap: wrap; /* Optional: Allow elements to wrap to the next line */
    }

.item-event {
    flex-grow: 0; /* Allow elements to grow to fill available space */
    flex-basis: auto;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.item-event h2 {
    margin: 0 0 10px ;
}

.item-event p {
    margin: 0;
}

.item-event a {
    margin: 0;
    border-radius: 5px;
}


.add-a-wish {
    background: none;
    border: 1px solid #2196f3;
    padding: 8px 12px;
    font-family: arial, sans-serif;
    color: #069;
    background-color: #069;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
}
.add-a-wish:hover {
    background-color: #2196f3;
    color: white;
}
.unhide {
    background: none;
    border: 1px solid #2196f3;
    padding: 8px 12px;
    font-family: arial, sans-serif;
    color: #069;
    background-color: #069;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
}
.unhide:hover {
    background-color: #2196f3;
    color: white;
}

.send-a-reminder {
    background: none;
    border: 1px solid #2196f3;
    padding: 8px 12px;
    font-family: arial, sans-serif;
    color: #069;
    background-color: #069;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
}
.send-a-reminder:hover {
    background-color: #2196f3;
    color: white;
}

.collect-draw {
    background: none;
    border: 1px solid #2196f3;
    padding: 8px 12px;
    font-family: arial, sans-serif;
    color: #069;
    background-color: #069;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
}
.collect-draw:hover {
    background-color: #2196f3;
    color: white;
}



.item-event:not(:last-child) {
   margin-right: 10px;
}

.close-icon {
    font-size: 18px;
}

.wish-item {
    /* border: 1px solid;
    padding: 5 5 5 5; */
    display: flex;
    align-items: center;

}
.wish-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
