{% extends 'website/base.html' %}
{% load static %}


{% block content %}

<section>
    <div class="main-page-div">
        <div class="section-about section-image">
            <img class="main-image" src="{% static 'assets/images/losuj_to_main.png' %}">
             <!-- [IMAGE PLACEHOLDER] -->
        </div>
        <div class="section-about section-welcome">
            <p><h2>Welcome to LOSUJTO! </h2></p>
            your go-to platform for creating memorable Secret Santa experiences! </p>
            <p>Whether you’re organizing a holiday gift exchange with friends, family, or colleagues, we’re here to make it simple and fun. Our easy-to-use tool allows you to set up your event, add participants, and randomly assign gift-givers, all while keeping everything fair and exciting.</p>
        </div>

        <div class="section-about section-mystery">
            <p>At losuj_to, we believe that a little mystery adds a lot of joy. That’s why our platform is designed to ensure every Secret Santa experience is truly a surprise, without any stress. Just set up your event, invite your friends, and let us handle the rest!</p>
        </div>

    </div>
</section>



{% endblock %}
