{% extends 'users/base.html' %}

{% block content %}
{% load socialaccount %}
{% if user.is_authenticated %}
<div>
    <p>
        Some users data
        <p>email: {{ user.email }}</p>
        <p>last login: {{ user.last_login }}</p>
        <p>your account is activated / not active</p>
        <p>change password</p>
    </p>
</div>

<form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Link with Social App!</button>
</form>
{% else %}
<p>You are currently not logged in.</p>

<p>
    <a href='{% url "login" %}?next=profile' class="btn btn-primary">Log in!</a> or
    <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
</p>



{% endif  %}




{% endblock %}
