{% extends 'website/base.html' %}

{% block content %}
  <h2>Event Summary:</h2>
  <p>Event Name: {{ event_data.event_name }}</p>
  <p>Event date: {{ event_data.event_date }}</p>
  {% if event_data.draw_date %}
  <p>Draw date: {{ event_data.draw_date }}</p>
  {% endif %}
  <p>Confirmed: {{ event_data.confirmed }}</p>

  {% if event_data.event_location != '' %}
  <p>Event Location: {{ event_data.event_location }}</p>

  {% endif %}
  <p><a href='{% url "event_update" pk=event_data.event_id %}'>edit event details</a></p>
  <p>Participants:</p>
  {% for participant in participants %}
  {{participant.1}}
  {{participant.3}}
    {% if participant.3 %}
    draw taken
    {% else %}
        {% if event_data.confirmed %}
        <a href='{% url "send_reminder" pk=event_data.event_id participant_id=participant.2 %}'>Send a reminder.</a>
        draw not taken.
        {% endif %}


    {% endif %}
    </br>

  {% endfor %}

  {% if event_data.confirmed %}
  <p><i>In order to add or edit pareticipants you should deactivate event first.</i></p>

  {% else %}

  <p><a href='{% url "event_participants_update" pk=event_data.event_id %}'>edit paticipants</a></p>
  {% endif %}



  <p>Excludes:</p>
  {% if excludes %}

    {% for participant, excluded_list in excludes.items %}
        {% for excluded in excluded_list %}
            {{participant}} cannot draw {{excluded}} <br>
        {% endfor %}

    {% endfor %}
{% else %}
<p>Currently there is no excludes set for this event.</p>
{% endif %}


{% if event_data.confirmed %}
    <p><i>In order to add or edit existing excludes you should deactivate event first.</i></p>
    <p><a href='{% url "event_deactivate" pk=event_data.event_id %}'>deactivate event</a> (all draw results will be cancelled)</p>
{% else %}

    <p><a href='{% url "event_excludes_update" pk=event_data.event_id %}'>edit or add excludes</a></p>
    <p><a href='{% url "event_toggle_active" pk=event_data.event_id %}'>activate the event</a> (any updates will not be possible)</p>
{% endif %}

<div class="container-event">
    <div class="row-event">
        <div class="item-event">
            <h2>{{ event_data.event_name }}</h2>
            <p>Event date:  {{ event_data.event_date }}</p>
            {% if event_data.draw_date %}
            <p>Draw date: {{ event_data.draw_date }}</p>
            {% endif %}
            
        </div>
        <div class="item-event">
            <h2>other details</h2>
            
            <p>Confirmed: {{ event_data.confirmed }}</p>
            {% if event_data.event_location != '' %}
            <p>Event Location: {{ event_data.event_location }}</p>

            {% endif %}
        </div>
    </div>
    <div class="row-event">
        <div class="item-event">
            <h5>Event participants</h5>
            <p>Participants:</p>
                {% for participant in participants %}
                {{participant.1}}
                {{participant.3}}
                    {% if participant.3 %}
                    draw taken
                    {% else %}
                        {% if event_data.confirmed %}
                        <a href='{% url "send_reminder" pk=event_data.event_id participant_id=participant.2 %}'>Send a reminder.</a>
                        draw not taken.
                        {% endif %}


                    {% endif %}
                    </br>

                {% endfor %}

        </div>
        <div class="item-event">
            <p>Excludes:</p>
                {% if excludes %}
                    {% for participant, excluded_list in excludes.items %}
                        {% for excluded in excluded_list %}
                            <p>{{participant}} cannot draw {{excluded}}</p>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <p>Currently there is no excludes set for this event.</p>
                {% endif %}

        </div>
        <div class="item-event drawn-name">
            <h5>Draws</h5>
            {% if not event_data.can_collect %}


                <p>Drawing is taking place at {{ event_data.draw_date }}!</p>

            {% else %}
                {% if not event_data.draw_collected %}
                You can now draw your gift taker!
                <!-- <button id="collect_draw" data-draw-id="{{ event_data.draw_id }}">Draw!</button> -->
                <a href="#" id="collect_draw" class="collect-draw" data-draw-id="{{ event_data.draw_id }}">Draw!</a>
                {% else %}
                <a class="unhide" href="#" id="unhide_name">unhide</a>


                <div style="display: none" id="drawn_name">
                <h1 >{{ event_data.drawn_participant }}</h1>
                {% if event_data.drawn_participant_wishes %}
                {% for wish in event_data.drawn_participant_wishes %}

                    {{wish.description}}
                {% endfor %}

                {% else %}
                <p>Currently your participant does not have any wishes.</p>

                <a class="send-a-reminder" href='{% url "send_reminder_wishes" pk=event_data.event_id participant_id=event_data.drawn_participant_id %}'>
                    <span>Send a reminder.</span>
                </a>
                {% endif %}
                </div>


                {% endif %}
            {% endif %}
            {% if draws %}
                    {% for draw in draws %}
                        {{draw.participant}} - {{draw.drawn_participant}}
                    {% endfor %}
                {% endif %}

        </div>
    </div>
</div>





{% endblock %}
