{% extends 'website/base.html' %}

{% block content %}
<h1> getting updates (wishes) </h1>

    <div id="result"></div>


    <script>
        if(typeof(EventSource) !== "undefined") {
            var source = new EventSource("{% url 'event_send_invitation_wishes_status_stream' event_id task_ids %}");
            source.onmessage = (event) => {
                console.log("A");
                console.log(event.data)
                if (event.data === "Emails sent") {
                    document.getElementById("result").innerHTML += "<br>closing connection";
                    source.close()
                    window.location.reload()
                } else {
                    if (document.getElementById("result").innerHTML === "sending invitations...") {
                        console.log("som trzy")
                        document.getElementById("result").innerHTML = "sending invitations..";
                    } else {
                        console.log(document.getElementById("result").innerHTML)
                        document.getElementById("result").innerHTML = "sending invitations...";
                    }

                };
                }
            } else {
                document.getElementById("result").innerHTML = "sorry, your browser sucks"
        }


    </script>

{% endblock %}
