{% extends 'website/base.html' %}

{% block content %}

{% load tz %}

{% now "Y-m-d H:i:s" as current_time %}


  <h2>Event List</h2>
    {{drawing_statuses}}
  {%for event in events_list%}

<div>
    <div class="event-item">
        <div class="event-header">
            <span class="event-name">{{event.event_name}}</span>
            <span>
                Event date:

                <span class="event-date">{{event.event_date}}</span>
                {% if event.show_draw_date %}
                <br>Draw date: <span class="event-date">{{event.event_draw_date}}</span>

                <br> current time: {{ datetime_now }}

                {% else %}
                  {% if event.participated %}
                  <br>draw collected?: {{ event.draw_collected }} .<br>
                  {% endif %}

                {% endif %}
                {% if event.event_confirmed == True %}

                <!--<span class="event-status active_event">Active</span>-->
                {% else %}
                <span class="event-status inactive">Inactive</span>
                {% endif %}



            </span>

        </div>
        <div class="event-details">
            <span class="event-owner">owner: {{event.owner}}</span>

            <div class="event-actions"></div>
            {% if event.owned %}
            <span class="manage-link"><a href='{% url "event_summary" pk=event.id %}'>manage event</a></span>
            {% endif %}
            {% if event.participated %}
            <span class="guest-link"><a href='{% url "event_view" pk=event.id %}'>go to event</a></span>
            {% endif %}
        </div>
    </div>
</div>
  {% endfor %}





{% endblock %}
