{% extends 'website/base.html' %}

{% block content %}
  <h2>Event Information</h2>
  <p>Event Name: {{ event_data.event_name }}</p>

  {% if event_data.event_location != '' %}
  <p>Event Location: {{ event_data.event_location }}</p>
  {% endif %}


  <h2>Participant Information</h2>

  <style>
    body {
        font-family: Arial, sans-serif;
    }

    .form-row {
        margin-bottom: 10px;
    }

    .add-row-btn,
    .add-row-btn-init,
    .remove-row-btn {
        cursor: pointer;
        color: green;
        margin-left: 5px;
    }

    .remove-row-btn:hover {
        color: red;
    }

    .invalid-email {
        color: red;
    }

    #submit-btn {
        cursor: not-allowed;
        background-color: #ddd;
        color: #666;
    }

    #submit-btn.active {
        cursor: pointer;
        background-color: #4caf50;
        color: #fff;
    }
</style>
</head>

<body>
    {{ rows_range | length |json_script:'rows_range' }}
    <div id="form-container">
        {% if form.participants.errors %}
        <ul class="errorlist">
            {% for error in form.participants.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <form method="post" id="form">
            {% csrf_token %}
            {% if participants %}
                {% for participant in participants %}
                    <div class="form-row">
                        <input type="text" name="email[]" placeholder="Email" onblur="validateEmail(event)" value="{{participant.0}}">
                        <input type="text" name="name[]" placeholder="Name" onkeydown="checkTab(event)" value="{{participant.1}}">
                        <span class="remove-row-btn" onclick="removeRow(this)" style="display: yes;">(-)</span>
                        {% if forloop.counter == participants|length %}
                        <span class="add-row-btn" onclick="addRow()" style="display: yes;">(+)</span>
                        {% else %}
                        <span class="add-row-btn" onclick="addRow()" style="display: none;">(+)</span>
                        {% endif %}
                     </div>
                {% endfor %}
            {% else %}
            {% for participant in rows_range %}

                    <div class="form-row">
                        <!-- <fieldset class="participant-fieldset"> -->
                        <input type="text" name="email[]" class="participant-input-email" placeholder="Email" onblur="validateEmail(event)">
                        <input type="text" name="name[]" class="participant-input-name" placeholder="Name" onkeydown="checkTab(event)">
                        <span class="remove-row-btn" onclick="removeRow(this)" style="display: none;">(-)</span>
                        {% if forloop.counter == rows_range|length %}
                        <span class="add-row-btn" onclick="addRow()" style="display: yes;">(+)</span>
                        {% else %}
                        <span class="add-row-btn" onclick="addRow()" style="display: none;">(+)</span>
                        {% endif %}
                        <!-- </fieldset> -->
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>

    <button id="submit-btn" class="form-button-custom-participants" onclick="submitForm()" disabled>Submit</button>

    <script>

        function addRow() {
            const lastRow = document.querySelector('.form-row:last-child');
            const newRow = lastRow.cloneNode(true);

            const inputs = newRow.querySelectorAll('input');
            inputs.forEach(input => {
                input.value = '';
                input.classList.remove('invalid-email');
            });

            document.getElementById('form').appendChild(newRow);

            // Hide remove button in the first row
            document.querySelectorAll('.form-row .add-row-btn').forEach(btn => {
            btn.style.display = 'none';
            });

            // Show remove button in the newly added row
            newRow.querySelector('.remove-row-btn').style.display = 'inline';
            newRow.querySelector('.add-row-btn').style.display = 'inline';

            newRow.querySelector('input').focus();
            updateSubmitButtonState();
        }

        function removeRow(button) {
            const row = button.parentNode;
            const formContainer = document.getElementById('form');
            let rows_range = JSON.parse(document.getElementById('rows_range').textContent)
            console.log(formContainer);
            console.log(formContainer.childElementCount);
            console.log(rows_range)

            if (formContainer.childElementCount > rows_range + 1 ) {
                //const wasLastRow = row === formContainer.lastElementChild;
                formContainer.removeChild(row);
                updateSubmitButtonState();
                const lastRow = formContainer.lastElementChild;
                lastRow.querySelector('.add-row-btn').style.display = 'inline';
                console.log(formContainer.childElementCount);
                console.log(formContainer.lastElementChild);
            }
        }

        function checkTab(event) {
            if (event.key === 'Tab' && !event.shiftKey) {
                const focusedInput = event.target;
                const formRows = document.querySelectorAll('.form-row');
                const lastRow = formRows[formRows.length - 1];
                const lastRowInputs = lastRow.querySelectorAll('input');

                if (focusedInput === lastRowInputs[lastRowInputs.length - 1]) {
                    addRow();
                    event.preventDefault();
                }
            }
        }

        function validateEmail(event) {
            const emailInput = event.target;
            const isValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(emailInput.value);

            if (!isValidEmail) {
                emailInput.classList.add('invalid-email');
            } else {
                const allEmailInputs = document.querySelectorAll('input[name^="email"]');
                const isDuplicate = Array.from(allEmailInputs).some(input => input !== emailInput && input.value.trim() === emailInput.value.trim());

                if (isDuplicate) {
                    console.log('duplicate')
                    emailInput.classList.add('invalid-email');
                    disableSubmitButton();

                    console.log(document.getElementById('submit-btn'))
                } else {
                    emailInput.classList.remove('invalid-email');
                    updateSubmitButtonState();
                }
            }

            updateSubmitButtonState();
        }

        function disableSubmitButton() {
            const submitBtn = document.getElementById('submit-btn');
            submitBtn.classList.remove('active');
            submitBtn.setAttribute('disabled', 'disabled');
        }

        function updateSubmitButtonState() {
            const submitBtn = document.getElementById('submit-btn');
            const emailInputs = document.querySelectorAll('input[name^="email"]');
            //const areAllEmailsValid = Array.from(emailInputs).every(input => /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.value.trim()));
            const areAllEmailsValid = Array.from(emailInputs).every(input => {
                const isValidFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.value.trim());
                const isNotDuplicate = !Array.from(emailInputs).some(otherInput => otherInput !== input && otherInput.value.trim() === input.value.trim());
                const isNotInvalid = !input.classList.contains('invalid-email');

                return isValidFormat && isNotDuplicate && isNotInvalid;
            });

            if (areAllEmailsValid) {
                submitBtn.classList.add('active');
                submitBtn.removeAttribute('disabled');
            } else {
                submitBtn.classList.remove('active');
                submitBtn.setAttribute('disabled', 'disabled');
            }
        }

        function submitForm() {
            const formRows = document.querySelectorAll('.form-row');
            const formData = [];

            formRows.forEach(row => {
                const emailInput = row.querySelector('input[name^="email"]');
                const nameInput = row.querySelector('input[name^="name"]');

                // Skip empty rows
                if (emailInput.value.trim() !== '') {
                    formData.push(`${emailInput.value},${nameInput.value}`);
                }
            });

            // Join the formData array into a single string with line breaks
            const formattedData = formData.join('\n');

            // Create a hidden textarea element and append it to the form
            const textarea = document.createElement('textarea');
            textarea.name = 'participants';
            textarea.value = formattedData;
            textarea.style.display = 'none';

            const form = document.querySelector('form');
            form.appendChild(textarea);

            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}
