{% extends 'website/base.html' %}

{% block content %}

    
<!-- </head> -->
<!-- <body> -->
    <div class="container-event">
        <div class="row-event">
            <div class="item-event">
                <h2>{{ event_data.event_name }}</h2>
                <p>taking place at {{ event_data.event_date }}</p>
                <p>countdown?</p>
            </div>
            <div class="item-event">
                <h2>other details</h2>
                <p>other item details like place, amount, currency, etc</p>
            </div>
        </div>
        <div class="row-event">
            <div class="item-event">
                <h5>Event participants</h5>
                {{ participants }}
                {% for participant in event_data.participants %}
                    <p>{{participant.1}}

                    {% if event_data.participant == participant.1 %}
                     (you!)
                    {% endif %}
                    </p>
                {% endfor %}

            </div>
            <div class="item-event">
                <h5>Your wishes</h5>
                {% if event_data.participant_wishes %}
                    {% for wish in event_data.participant_wishes %}
                    <div class="wish-item">
                     <span>{{wish.description}}</span>
                        <a href="#" class="wish-delete" id="{{wish.id}}" event_id="{{ event_data.event_id }}">
                            <span class="material-icons md-18 close-icon">close</span>
                        </a>
                    {% csrf_token %}
                    </div>
                    {% endfor %}




                <div>
                    <a class="add-a-wish" href='{% url "event_wish_create" pk=event_data.event_id %}'>
                        <span>add a wish</span>
                    </a>
                </div>

                {% else %}
                <div>
                    <span>Currently your wishlist is empty </span>
                    <a class="add-a-wish" href='{% url "event_wish_create" pk=event_data.event_id %}'>
                        <span>add your first wish!</span>
                    </a>
                </div>
                {% endif %}

            </div>
            <div class="item-event drawn-name">
                <h5>Drawn name</h5>
                {% if not event_data.can_collect %}


                <p>Drawing is taking place at {{ event_data.draw_date }}!</p>

                {% else %}
                    {% if not event_data.draw_collected %}
                    You can now draw your gift taker!
                    <!-- <button id="collect_draw" data-draw-id="{{ event_data.draw_id }}">Draw!</button> -->
                    <a href="#" id="collect_draw" class="collect-draw" data-draw-id="{{ event_data.draw_id }}">Draw!</a>
                    {% else %}
                    <a class="unhide" href="#" id="unhide_name">unhide</a>


                    <div style="display: none" id="drawn_name">
                    <h1 >{{ event_data.drawn_participant }}</h1>
                    {% if event_data.drawn_participant_wishes %}
                    {% for wish in event_data.drawn_participant_wishes %}

                        {{wish.description}}
                    {% endfor %}

                    {% else %}
                    <p>Currently your participant does not have any wishes.</p>

                    <a class="send-a-reminder" href='{% url "send_reminder_wishes" pk=event_data.event_id participant_id=event_data.drawn_participant_id %}'>
                        <span>Send a reminder.</span>
                    </a>
                    {% endif %}
                    </div>


                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
<!-- </body>
</html> -->

<script>

    function getCSRFTToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim()
                if (cookie.substring(0, "csrftoken".length + 1) === ("csrftoken" + "=")) {

                    cookieValue = decodeURIComponent(cookie.substring("csrftoken".length + 1));
                    break;
                    }
                }
            }
        return cookieValue;
       }
    document.addEventListener('DOMContentLoaded', (event) => {

        const collectDrawButton = document.getElementById('collect_draw');
        const collectUnhideNameLink = document.getElementById('unhide_name');
        const collectDrawnName = document.getElementById('drawn_name');

        const deleteWishButton = document.getElementsByClassName('wish_delete')
        if (collectDrawButton) {
            collectDrawButton.addEventListener('click', function() {
                const drawId = this.getAttribute('data-draw-id')
                fetch(`/api/draw_collected/${drawId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFTToken(),
                        },
                    body: JSON.stringify ({
                        collected: true,
                        }),
                    })
                .then(response => {
                        if (response.ok) {
                            alert('Gift collection status updated successfully!')
                            location.reload()
                        } else {
                            alert('Thre was an issue with yor request.')
                        }
                    });
                })
            };

        if (deleteWishButton) {
            for (var i = 0 ; i < deleteWishButton.length; i++) {
                let wish_id = deleteWishButton[i].id;
                let event_id = "{{event_data.event_id}}"
                const endpoint = `/events/event_wish_delete/${wish_id}/${event_id}`
                deleteWishButton[i].addEventListener('click' ,() => {
                    "event_wish_delete/<int:pk>/<int:event_id>"
                    fetch(endpoint, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFTToken(),
                        },

                    }).then(response => {
                        if (response.status === 200) {
                            window.location.reload();

                        }
                    })

                 } , false ) ;
}
            };


        if (collectUnhideNameLink) {
            collectUnhideNameLink.addEventListener('click', function() {
                if (collectDrawnName) {
                    if (collectDrawnName.style.display === 'none') {
                            collectDrawnName.style.display = 'block';
                        } else {
                            collectDrawnName.style.display = 'none';
                        }
                }
            });
        };
    }
        )



 </script>

{% endblock %}
